
<div>
  <div *ngFor="let article of articles" class="articles">
    <div class="article small card">
      <img *ngIf="article.image" [src]="article.image" class="card-img-top article-image" alt="article-image">
      <div class="card-body">
        <h5 class="card-title">{{article.title}}</h5>
        <p *ngIf="article.excerpt" class="card-text article-excerpt">{{article.excerpt}}</p>
        <a class="btn btn-primary" (click)="goToArticlePage(article.uuid)">Lire l'article</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Mis à jour {{article.updatedAt | dateAgo}}</small>
      </div>
      <div class="d-none article-uuid">{{article.uuid}}</div>
    </div>
  </div>
</div>

<app-utils-loading [show]="!loaded && withLoading"></app-utils-loading>
