
<form *ngIf="!hasError && ready" [formGroup]="articleForm" (ngSubmit)="onSubmit()" class="needs-validation" #formDir="ngForm">
  <div class="form-group">
    <label for="title">Titre*</label>
    <input type="text" formControlName="title" [className]="'form-control ' + ((title.dirty || title.touched) ? title.invalid ? 'is-invalid' : 'is-valid' : '')" id="title" placeholder="Titre"  required>
    <div *ngIf="title.errors" class="invalid-feedback">
      <div *ngIf="title.errors.required">
        Le titre est requis.
      </div>
      <div *ngIf="title.errors.minlength">
        La longueur du titre doit être au minimum de 3 caractères
      </div>
      <div *ngIf="title.errors.maxlength">
        La longueur du titre doit être au maximum de 200 caractères
      </div>
    </div>
  </div>

  <div class="form-group mt-3">
    <label for="excerpt">Résumé de l'article</label>
    <input type="text" formControlName="excerpt" [className]="'form-control ' + ((excerpt.dirty || excerpt.touched) ? excerpt.invalid ? 'is-invalid' : 'is-valid' : '')" id="excerpt" placeholder="Résumé">
    <div *ngIf="excerpt.errors" class="invalid-feedback">
      <div *ngIf="excerpt.errors.maxlength">
        La longueur du résumé doit être au maximum de 200 caractères
      </div>
    </div>
  </div>

  <div class="form-group mt-3">
    <label for="image">Image de l'article</label>
    <div class="d-flex">
      <div class="flex-grow-1">
        <input type="file" id="image" formControlName="imageInput" class="form-control" accept="image/png, image/jpeg, image/jpg, image/gif" (change)="onFileChange($event)">
      </div>
      <div *ngIf="formImage" class="mt-1 pr-1 flex-grow-1 d-flex justify-content-end">
        <div>
          <img [src]="formImage" class="card-img-top article-image preview" alt="article-image">
          <div><i>Image actuelle</i></div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group mt-3">
    <label for="body">Contenu*</label>
    <textarea [className]="'form-control ' + ((body.dirty || body.touched) ? body.invalid ? 'is-invalid' : 'is-valid' : '')" id="body" formControlName="body" rows="6" required></textarea>
    <div *ngIf="body.errors" class="invalid-feedback">
      <div *ngIf="body.errors.required">
        Le contenu est requis.
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary mt-3">Publier</button>
</form>

<div *ngIf="!ready" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="hasError" class="alert alert-danger" role="alert">
  {{ errorMessage }}
</div>
