<div *ngIf="article" class="article normal">
  <h1>{{article.title}}</h1>
  <div class="d-flex mb-1">
    <div class="flex-grow-1">
      <img *ngIf="article.user.image" [src]="article.user.image" class="article-user-image rounded-circle user-avatar small" alt="user-image"> {{article.user.name}}
    </div>
    <div class="me-3">
      Mis à jour {{article.updatedAt | dateAgo}}
    </div>
    <div>
      <button *ngIf="userCanEdit" class="btn btn-primary me-2" role="button" (click)="editArticle()"><i class="fas fa-edit"></i></button>
      <button *ngIf="userCanRemove" class="btn btn-primary" role="button"><i class="fas fa-trash"></i></button>
    </div>
  </div>
  <div *ngIf="article.image">
    <img [src]="article.image" class="card-img-top article-image" alt="article image">
  </div>
  <div class="mt-3">
    <div>
      {{article.body}}
    </div>
  </div>
</div>

<div *ngIf="error">
  L'article demandé n'existe pas...
</div>
